html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  background-image: url("../public/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #00d6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#scrollDown {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  0%{
  }
  50%{
    transform: translateY(-8px);
  }
  100%{
  }
}

.card:hover {
  animation: elevate 0.25s 1
}

@keyframes elevate {
  0%{
  }
  100%{
    transform: translateY(-8px)
  }
}

#gecko{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
