html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  /*background-color: #063162;*/
  background-image: url("../public/images/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  color: white;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  /*color: #0070f3;*/
  color: #00d6ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#scrollDown {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  0%{
  }
  50%{
    transform: translateY(-8px);
  }
  100%{
  }
}
.special{
  color: #1bdaff;
  font-weight: 500;
}
#gecko{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
img {
  max-width: 100%;
  display: block;
}